# EDA: Time Series

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
filepath = '../data/ML/E0_ML_date.csv'
data = pd.read_csv(filepath)
data.head()

,h_nb_games_home,h_nb_victories,h_season_points,h_nb_games_total,h_last_n_games_points,h_nb_goals_scored_home,h_mean_nb_goals_scored_home,h_nb_goals_conceded_home,h_mean_nb_goals_conceded_home,h_season_wages,...,a_season_points,a_nb_games_total,a_last_n_games_points,a_nb_goals_scored_away,a_mean_nb_goals_scored_away,a_nb_goals_conceded_away,a_mean_nb_goals_conceded_away,a_season_wages,home_win,Date
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,132.5,0,2009-01-11
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66.6,0,2009-03-10
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.4,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,38.1,1,2009-03-10
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.1,1,2009-03-10
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,131.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0,0,2009-03-10

In [7]:
data['Date'] = pd.to_datetime(data['Date'])
data.dtypes

h_nb_games_home                         float64
h_nb_victories                          float64
h_season_points                         float64
h_nb_games_total                        float64
h_last_n_games_points                   float64
h_nb_goals_scored_home                  float64
h_mean_nb_goals_scored_home             float64
h_nb_goals_conceded_home                float64
h_mean_nb_goals_conceded_home           float64
h_season_wages                          float64
a_nb_games_away                         float64
a_nb_victories_draws                    float64
a_season_points                         float64
a_nb_games_total                        float64
a_last_n_games_points                   float64
a_nb_goals_scored_away                  float64
a_mean_nb_goals_scored_away             float64
a_nb_goals_conceded_away                float64
a_mean_nb_goals_conceded_away           float64
a_season_wages                          float64
home_win                                  int64
Date                             datetime64[ns]
dtype: object