# Teams Per Season in EPL

Select one season, get all the teams name for this particular season

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
COUNTRY = 'England'
CHAMPIONSHIP = 'E0'
SEASON = '2011_2012'
FILEPATH = '../data/' + '/Games/' + CHAMPIONSHIP + '_' + SEASON + '.csv'

In [3]:
data = pd.read_csv(FILEPATH)
data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,13/08/11,Blackburn,Wolves,1,2,A,1,1,D,...,2.06,1.96,1.89,1.82,18,-0.50,2.20,2.14,1.78,1.74
1,E0,13/08/11,Fulham,Aston Villa,0,0,D,0,0,D,...,2.21,2.11,1.77,1.69,21,-0.25,1.83,1.80,2.14,2.08
2,E0,13/08/11,Liverpool,Sunderland,1,1,D,1,0,H,...,1.92,1.85,2.01,1.92,21,-1.00,1.92,1.88,2.02,1.98
3,E0,13/08/11,Newcastle,Arsenal,0,0,D,0,0,D,...,1.89,1.80,2.10,1.98,20,0.50,1.84,1.79,2.16,2.10
4,E0,13/08/11,QPR,Bolton,0,4,A,0,1,A,...,2.27,2.16,1.73,1.66,19,-0.25,2.00,1.95,1.98,1.92

In [6]:
np.unique(data['HomeTeam'].values)
#a=data['HomeTeam'].values
#i=0
#for b in a:
#    if type(b)!=type('str'):
#        print(b)
#        print(i)
#    i+=1

array(['Arsenal', 'Aston Villa', 'Blackburn', 'Bolton', 'Chelsea',
       'Everton', 'Fulham', 'Liverpool', 'Man City', 'Man United',
       'Newcastle', 'Norwich', 'QPR', 'Stoke', 'Sunderland', 'Swansea',
       'Tottenham', 'West Brom', 'Wigan', 'Wolves'], dtype=object)